.footer-section{
    
        padding: 65px 0;
        background: linear-gradient(to left, #289086, #4a54e8, #5b42db, #289086, #289086) ;

}
h4{
    font-size: 3.15rem;
        margin: 0 0 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 1.21;
        color: initial;
    
}
.footer-nav ul li{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    opacity: 0.9;
    color: white;

}
.copyright{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    opacity: 0.9;
}

