.ptb-100{
    padding: 75px 0;

}
img{
    margin-top: 44px;
    height: 300px;
    width: 300px;
}
.iso h2{
    
    margin: 0 0 1rem;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
font-weight: 600;
line-height: 1.21;
margin-top: 60px;

}
p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;


}